code/MQTT/Node_RED_Client/Node_RED_Flow.txt
[{"id":"f4861e93.ea281","type":"mqtt in","z":"7860713c.b687e","name":"","topic":"esp8266/temperature","qos":"2","broker":"10e78a89.5b4fd5","x":440,"y":620,"wires":[["67990c54.8c9064"]]},{"id":"8d016410.3cfd38","type":"mqtt out","z":"7860713c.b687e","name":"","topic":"esp8266/output","qos":"","retain":"","broker":"10e78a89.5b4fd5","x":640,"y":380,"wires":[]},{"id":"d39b9d92.ae702","type":"ui_switch","z":"7860713c.b687e","name":"","label":"Output","group":"61285987.c20328","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":390,"y":380,"wires":[["8d016410.3cfd38"]]},{"id":"a296121b.8f3a","type":"mqtt in","z":"7860713c.b687e","name":"","topic":"esp8266/ldr","qos":"2","broker":"10e78a89.5b4fd5","x":410,"y":540,"wires":[["9e9d321f.cfccb"]]},{"id":"4d852265.9f9bbc","type":"mqtt in","z":"7860713c.b687e","name":"","topic":"esp8266/motion","qos":"2","broker":"10e78a89.5b4fd5","x":420,"y":460,"wires":[["1c0b0e9a.5a6f31"]]},{"id":"1c0b0e9a.5a6f31","type":"ui_text","z":"7860713c.b687e","group":"61285987.c20328","order":0,"width":0,"height":0,"name":"","label":"PIR Status:","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":460,"wires":[]},{"id":"9e9d321f.cfccb","type":"ui_gauge","z":"7860713c.b687e","name":"","group":"61285987.c20328","order":0,"width":0,"height":0,"gtype":"gage","title":"LDR","label":"Luminosity","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":540,"wires":[]},{"id":"67990c54.8c9064","type":"ui_chart","z":"7860713c.b687e","name":"","group":"61285987.c20328","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":650,"y":620,"wires":[[],[]]},{"id":"10e78a89.5b4fd5","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"61285987.c20328","type":"ui_group","z":"","name":"Main","tab":"e7c46d5e.a1283","disp":true,"width":"6","collapse":false},{"id":"e7c46d5e.a1283","type":"ui_tab","z":"","name":"Dashboardq","icon":"dashboard","order":3}]
